body {
  margin: 0;
}

nav {
  border-bottom: 1px solid lightgray;
  padding: 2vh;
  
}

aside {
  border-right: 1px solid lightgray;
  padding: 2vh;
  width: 20vw;
}

#content {
  padding: 2vh;
  width: 80vw;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#root{
  display: flex;
  justify-content: center;
}
.card{
  width: 20vw;
  margin: 2vw;
}